includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'
    - 'vendor/phpstan/phpstan-symfony/extension.neon'

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
         - '#(.*?) return type has no value type specified in iterable type array#'
         - '#Cannot cast array<string\>\|string\|null to string#'
