includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'
    - 'vendor/phpstan/phpstan-symfony/extension.neon'

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
         - '#(.*?) return type has no value type specified in iterable type array#'
         - '#Cannot cast array<string\>\|string\|null to string#'

        # mixed
         - '#no value type specified in iterable type#'
         - '#with no typehint specified#'
         - '#has no return typehint specified#'

         - '#Method Migrify\\SymfonyRouteUsage\\EntityRepository\\RouteVisitRepository\:\:fetchAll\(\) should return array<Migrify\\SymfonyRouteUsage\\ValueObject\\RouteUsageStat\> but returns array<object\>#'
         - '#Call to an undefined method Psr\\Container\\ContainerInterface\:\:getParameter\(\)#'

    excludes_analyse:
        # tests
        - 'packages/vendor-patches/tests/Finder/*'
