name: Test Coverage

on:
    push:
        branches:
            - master

jobs:
    test_coverage:
        runs-on: ubuntu-latest

        services:
            postgres:
                image: postgres:11.7
                env:
                    POSTGRES_PASSWORD: root
                    POSTGRES_DB: migrify_symfony_route_usage_tests
                ports:
                    - 5432:5432

        steps:
            -   uses: actions/checkout@v2
            -   uses: shivammathur/setup-php@v1
                with:
                    php-version: 7.2
                    coverage: pcov

            -   run: composer install --no-progress
            -   run : |
                    vendor/bin/phpunit --coverage-clover build/logs/clover.xml

                    # coveralls.io
                    wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.1.0/php-coveralls.phar
                    php php-coveralls.phar --verbose
                env:
                    COVERALLS_REPO_TOKEN: "yuE0Da8W6ycw1cHoVqepQgdpb7LjA2nCb"
